<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.mytestdemo">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name=".alipay.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".alipay.PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".LeakTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".appupdate.CheckUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".videorecorder.NewRecordVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".videorecorder.PlayVideoActiviy"
            android:screenOrientation="portrait"/>

        <service android:name=".appupdate.DownloadService"/>

        <activity
            android:name=".appupdate.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent"/>
        <activity
            android:name=".ble.SearchBleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".carousel.CBActivity"/>
        <activity
            android:name=".stickview.StickerViewActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".photofilterssdk.imageprocessors.PhotoFilterActivity"
            android:label="@string/app_name"/>
        <activity android:name=".textlength.TextLengthActivity"/>
        <activity android:name=".recyclerview.RecyclerViewActivity"/>
        <activity android:name=".wifi.WifiTestActivity">
        </activity>
        <activity android:name=".superrecycler.SuperRecyclerActivity">
        </activity>
        <activity android:name=".playeraudio.PlayAudioActivity">
        </activity>
        <activity android:name=".premission.PermissionActivity">
        </activity>
        <activity android:name=".premission.YzjPermissionActivity">
        </activity>
        <activity android:name=".mediaplayer.MediaPlayerActivity">
        </activity>
        <activity android:name=".mediaplayer.MediaPlayer2Activity">
        </activity>

        <activity android:name=".recyclerview.MultiRecyclerViewActivity">
        </activity>

        <activity android:name=".verticalviewpager.ViewPagerActivity">
        </activity>
    </application>

</manifest>